<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Volunteer Signup Form">
  <meta name="author" content="Voluntree">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="py-4">
<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));

  window.extAsyncInit = function () {
    console.log('Messenger Extensions JS SDK is done loading');
    MessengerExtensions.getContext('{{ FACEBOOK_APP_ID }}',
      function success(thread_context) {
        console.log(thread_context);
      },
      function error(err) {
        console.error(err);
      }
    );
  };
</script>
<div class="container themed-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ title }}</h1>

      <form method="post">
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form.visible_fields %}
          <div class="form-group form-check">
            {{ field }}
            {{ field.label_tag }}

            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            <div>This is my extra data</div>
          </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
</body>
</html>