DJANGO_ENV='development'

REACT_APP_BACKEND_HOST = 'http://localhost:8000'

FACEBOOK_APP_ID='replace_with_valid_one'
FACEBOOK_APP_SECRET='repalce_with_valid_one'
FACEBOOK_OAUTH_REDIRECT_URI='http://localhost:3000/facebook_login/'
FACEBOOK_OAUTH_STATE='xyz'
FACEBOOK_OAUTH_SCOPE='pages_manage_posts,pages_manage_engagement,pages_manage_metadata,pages_messaging'