DJANGO_ALLOWED_HOSTS=voluntree.surge.sh,localhost,127.0.0.1,voluntree.heroku.com
DJANGO_SECRET_KEY='x%j(oz1=qzs+f_zrmtqz8%49$y@7pq6--fvko%4i_x_z@!js0e'
DJANGO_DEBUG=True


FACEBOOK_APP_ID='replace_with_valid_one'
FACEBOOK_APP_SECRET='repalce_with_valid_one'
FACEBOOK_OAUTH_REDIRECT_URI='http://localhost:3000/facebook_login/'
FACEBOOK_OAUTH_STATE='xyz'
FACEBOOK_OAUTH_SCOPE='pages_manage_posts,pages_manage_engagement,pages_manage_metadata,pages_messaging'


WEB_CONCURRENCY=3


REACT_APP_WEBSOCKET_HOST='ws://localhost:8000'
REACT_APP_FACEBOOK_APP_ID='replace_with_valid_one'

