.new-post-form, .status-preview, .messenger-preview {
    width: 50%;
}

.post-form {
    padding: 16px;
}

.post-preview {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.post-preview-img {
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.message-preview-img {
    margin: 10px auto;
    width: auto;
    max-height: 400px;
    height: 100%;
}

.submit-post {
    width: 100%;
}
