.app-logo {
  width: 200px
}

.site-header {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.sider-background {
  background: #ffffff;
}

.common-content-wrapper {
  width: 100%;
}

.common-content {
  max-width: 1200px;
  margin: auto;
}
