.create-new-page {
    display: flex;
    justify-content: flex-end;
    margin: 16px;
}

.vms-card {
    width: 300px;
}

.vms-list {
    margin: 32px 8px;
}

.vms-card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vms-connect {
    margin: auto;
}

.vms-logo {
    padding: 30px;
    background: #eee;
    height: 150px;
}