#root {
    height: 100%;
}

.messenger-icon {
    fill: white;
    margin: 0 8px;
}

.messenger-btn {
    display: flex;
}

.fb-post-embed-wrapper {
    display: flex;
    width: 100%;
}

.fb-post-embed {
    padding: 8px;
    margin: auto;
}
