.infinite-container {
    border: 1px solid #e8e8e8;
    overflow: auto;
    height: 300px;
  }

.demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
